*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:'Poppins',sans-serif;
background:#fff7f8;
overflow-x:hidden;
}

/* IMPORTANT */

#mainContent{
display:none;
}

/* COVER */

#coverPage{
height:100vh;
position:relative;
overflow:hidden;
}

.cover-image{
width:100%;
height:100%;
object-fit:cover;
}

.cover-overlay{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
background:rgba(0,0,0,0.35);
padding:25px;
border-radius:25px;
backdrop-filter:blur(4px);
color:white;
width:85%;
max-width:320px;
}

.cover-overlay h1{
font-family:'Dancing Script',cursive;
font-size:2.3rem;
margin-bottom:10px;
}

.cover-overlay p{
margin-bottom:15px;
}

button{
padding:14px 22px;
border:none;
border-radius:30px;
background:#ff4f81;
color:white;
font-size:1rem;
cursor:pointer;
}

/* CONTENT */

section{
padding:60px 20px;
}

.story,
.gallery,
.letter,
.final{
text-align:center;
}

.story h2,
.gallery h2,
.letter h2,
.final h2{
font-family:'Dancing Script',cursive;
font-size:2.2rem;
color:#ff4f81;
margin-bottom:20px;
}

.story p{
max-width:700px;
margin:auto;
line-height:1.9;
}

.grid{
display:grid;
grid-template-columns:repeat(2,1fr);
gap:12px;
}

.grid img{
width:100%;
height:250px;
object-fit:cover;
border-radius:18px;
}

.letter-box{
max-width:750px;
margin:auto;
background:white;
padding:25px;
border-radius:20px;
line-height:2;
box-shadow:0 4px 15px rgba(0,0,0,.08);
}

.final-photo{
width:100%;
max-width:350px;
border-radius:20px;
margin-bottom:20px;
}
